body {
    background-image: url("../images/fondo.jpg");
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    color: #fff; 
}

.container {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 8px;
}

.card {
    max-width: 500px;
    margin: 0 auto;   
    background: rgba(255, 255, 255, 0.8);
}

.card-header, .card-body, .card-footer {
    background: transparent; /* Fondo transparente*/
}

/* Estilo  etiquetas */
form .form-group label {
    color: #000; /* Color negro */
}


.result {
    color: #000000; /* Color negro  */
}
