<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Divisas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header bg-success text-white text-center">
                <h1 class="card-title">Conversor de Divisas</h1>
            </div>
            <div class="card-body">
                <form method="POST" class="p-4">
                    <div class="form-group">
                        <label for="amount">Cantidad</label>
                        <input type="number" id="amount" name="amount" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="from_currency">De</label>
                        <select id="from_currency" name="from_currency" class="form-control" required>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                            <option value="PYG">PYG</option>
                            <option value="ARS">ARS</option>
                            <option value="BRL">BRL</option>
                            <option value="CLP">CLP</option>
                            <option value="COP">COP</option>
                            <option value="MXN">MXN</option>
                            <option value="PEN">PEN</option>
                            <option value="UYU">UYU</option>
                            <option value="VES">VES</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="to_currency">A</label>
                        <select id="to_currency" name="to_currency" class="form-control" required>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                            <option value="PYG">PYG</option>
                            <option value="ARS">ARS</option>
                            <option value="BRL">BRL</option>
                            <option value="CLP">CLP</option>
                            <option value="COP">COP</option>
                            <option value="MXN">MXN</option>
                            <option value="PEN">PEN</option>
                            <option value="UYU">UYU</option>
                            <option value="VES">VES</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Convertir</button>
                </form>

                {% if conversion_result is not None %}
                <div class="mt-4 result">
                    <h2 class="text-center">Resultado</h2>
                    <p class="text-center">{{ amount }} {{ from_currency }} equivale a {{ conversion_result }} {{ to_currency }}</p>
                    <p class="text-center">Última actualización del valor de cambio: {{ last_updated }}</p>
                </div>
                {% endif %}
            </div>
            <div class="card-footer text-center">
                <a href="{{ url_for('divisas') }}" class="btn btn-primary">Ver Divisas Disponibles</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
