<!DOCTYPE html>  
<html lang="es">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Conversor de Divisas</title>  
</head>  
<body>  
    <div class="container">
        <div class="row mb-2">
            <div class="col mb-4">
                <div class="card bg-success text-white text-center">
                    <div class="card-header"><h1>CONVERSOR DE MONEDAS</h1></div>
                </div>
            </div>
        </div> 
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form method="POST" class="p-4 border rounded shadow-sm bg-light">
                    <div class="form-group">
                        <label for="amount">Cantidad</label>
                        <input type="number" id="amount" name="amount" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="from_currency">De</label>
                        <select id="from_currency" name="from_currency" class="form-control" required>
                            <option value="USD">USD</option>  
                            <option value="EUR">EUR</option>  
                            <option value="GBP">GBP</option>  
                            <option value="PYG">PYG</option>
                            <option value="ARS">ARS</option>
                            <option value="BRL">BRL</option> 
                            <option value="CLP">CLP</option> 
                            <option value="COP">COP</option> 
                            <option value="MXN">MXN</option> 
                            <option value="PEN">PEN</option>
                            <option value="UYU">UYU</option> 
                            <option value="VES">VES</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="to_currency">A</label>
                        <select id="to_currency" name="to_currency" class="form-control" required>
                            <option value="USD">USD</option>  
                            <option value="EUR">EUR</option>  
                            <option value="GBP">GBP</option>  
                            <option value="PYG">PYG</option>
                            <option value="ARS">ARS</option>
                            <option value="BRL">BRL</option> 
                            <option value="CLP">CLP</option> 
                            <option value="COP">COP</option> 
                            <option value="MXN">MXN</option> 
                            <option value="PEN">PEN</option>
                            <option value="UYU">UYU</option> 
                            <option value="VES">VES</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Convertir</button>  
                </form>  
            </div>
        </div>

        {% if conversion_result is not none %}  
            <div class="mt-4">
                <h2 class="text-center">Resultado</h2> 
                <p class="text-center">{{ amount }} {{ from_currency }} equivale a {{ conversion_result }} {{ to_currency }}</p>
                <p class="text-center">Última actualización del valor de cambio: {{ last_updated }}</p>
            </div>
        {% elif error_message %}
            <div class="mt-4">
                <h2 class="text-center text-danger">Error</h2>
                <p class="text-center">{{ error_message }}</p>
            </div>
        {% endif %}  
    </div>
    
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>  
</html>
