<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divisas Disponibles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Divisas Disponibles</h1>
        <ul>
            {% for currency, rate in rates.items() %}
            <li>{{ currency }}: {{ rate }}</li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('index') }}" class="button">Volver al Conversor</a>
    </div>
</body>
</html>
